<div class="quarter-container">
  <span class="quarter-header">Quarter {{goal.quarterNo}}</span>
  <div class="input-group">
    <input type="text" class="form-control custom-input" style="width: 98%;" placeholder="Quick add for Goal">
    <span class="input-group-btn">
									<button class="btn btn-default add-goal-button" type="button">Add Goal</button>
								</span>
  </div>
  <div class="goal-container">

    <div class="row custom-row">
      <ul class="list-group">
        <li *ngFor=" let goal of goal.goals" class="list-group-item clearfix">
          <strong class="col-md-10">{{goal.description}} </strong>
          <div class="col-md-2">
            <span class="glyphicon glyphicon-ok custom-icon done-icon" aria-hidden="true" *ngIf="goal.status =='Done'"></span>
            <div *ngIf="goal.status !='Done'">
              <span class="label label-warning">{{goal.status}}</span>
              <input class="custom-check-box" type="checkbox"/>
            </div>
          </div>
        </li>

      </ul>
    </div>

    <!--<div class="col-md-3 col-lg-3">
        <span class="label">{{goals.status}}</span>
        <!--<span class="label label-primary">Progress</span>
        <span class="label label-warning">Not Done</span>-->
  </div>
</div>
<hr/>