<div class="row" *ngIf="userDetails">

  <div class="col-md-3 col-lg-3">

    <div class="thumbnail">
      <img src="{{userDetails.imageUrl}}" alt="Your Image">
    </div>
    <ul class="list-group">
      <li class="list-group-item"><strong>Username: </strong>{{userDetails.name}}</li>
      <li class="list-group-item"><strong>Location: </strong>Bangalore</li>
      <li class="list-group-item"><strong>Designation: </strong>{{userDetails.designation}}</li>
    </ul>
  </div>

  <div class="col-md-9 col-lg-9 " id="right-container">
    <!--<div class="form-group " style="height: 35px;">
      <select id="company" class="form-control custom-select">
					  <option>2016</option>
					  <option selected>2015</option>
					  <option>2014</option>
					</select>

    </div>-->
    <div class="row custom-row">
      <app-goal></app-goal>
    </div>
  </div>