<div class="row" *ngIf="userData">

  <app-select [defaultValue]="currentYear" [optionsArray]="yearsArray" (indexChanged)= "indexChanged($event)"></app-select>

  <div class="col-md-3 col-lg-3">

    <div class="thumbnail">
      <img src="{{userData.userDetails.imageUrl}}" alt="Your Image">
    </div>
    <ul class="list-group">
      <li class="list-group-item"><strong>Username: </strong>{{userData.userDetails.name}}</li>
      <li class="list-group-item"><strong>Location: </strong>Bangalore</li>
      <li class="list-group-item"><strong>Designation: </strong>{{userData.userDetails.designation}}</li>
    </ul>
  </div>

  <div class="col-md-9 col-lg-9 " id="right-container">

    <div class="row custom-row">
      <div *ngFor="let goal of userData.goalsArray">
        <app-goal [goal]="goal"></app-goal>
      </div>

    </div>
  </div>
</div>

<app-select [defaultValue]="currentYear" [optionsArray]="yearsArray" (indexChanged)= "indexChanged($event)"></app-select>