$white : #FFF !global;
$cockpit-blue : #009cdc !global;
$cockpit-green: #00A651 !global;
$cockpit-orange: #F99D1C !global;

//Light gray
$cocpit-light-gray: #D3D3D3 !global;
$cockpit-light-gray-1 : #F5F5F5 !global;

//dark gray
$cockpit-dark-gray: #555555;