@import "assets/variables";
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

// Global variables and styles (Custom)
@import 'assets/_constants';
@import 'assets/_defaults';

@import 'assets/_customScrollerOverride';


.loading-overlay {
    position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20; 
  background:  url("./assets/images/ajax-loader.gif") no-repeat 50% center;
  background-color: rgba(255, 255, 255, 0.5); }